# Python bytecode
__pycache__/
*.pyc

# Virtual environments
venv/
virt/
.venv/

# Node.js dependencies
node_modules/

# Logs and temporary files
*.log
*.tmp

# OS/IDE-specific files
.DS_Store
.vscode/
